.wrapper {
  min-width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(lightblue, white, pink);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  min-height: 85vh;
  width: 90%;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
}
.left {
  flex: 1.1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  flex: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(secondary-color);
}
