@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway";
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color-scheme: dark;
}

:root {
  --primary: #f9aa11;
  --text-color: rgba(0, 0, 0, 0.88);
  --primary-low: rgba(249, 170, 17, 0.2);
  --xl-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  --avatar-shadow: 0px 4px 12.5px -2px rgba(0, 0, 0, 0.25);
  --gradient: linear-gradient(
    261deg,
    rgba(249, 170, 17, 0) -71.44%,
    #f9aa11 51.14%
  );
  --background-color: #000; /* Dark mode background color */
  --component-color: #2f4f7f; /* Dark mode component color */
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #f9f9f9; /* Light mode background color */
    --component-color: #add8e6; /* Light mode component color */
  }
}

.cl-logoImage {
  width: 5rem;
  height: 5rem;
}

.cl-header {
  color: salmon;
  font-family: raleway;
}

.cl-card {
  background-color: var(
    --component-color
  ); /* Use the component color variable */
  color: var(--text-color);
  font-family: raleway;
  text-shadow: 0 4px 8px 0 rgb(255, 255, 255);
  box-shadow: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 25px;
}

.cl-card button {
  background-color: var(
    --component-color
  ); /* Use the component color variable */
  color: salmon;
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: rgba(0, 0, 0, 0.19);
}

.cl-card button:hover {
  background-color: salmon;
  color: var(--component-color); /* Use the component color variable */
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cl-internal-b3fm6y {
  display: none;
}

.cl-footer {
  font-family: "raleway";
  color: #f9aa11;
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cl-footerAction {
  font-family: "raleway";
  color: #f9aa11;
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cl-footerAction a {
  color: #f9aa11;
  text-decoration: none;
}

.cl-footerAction a:hover {
  color: green;
  text-decoration: underline;
}
