@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color-scheme: dark;
}
:root {
  --primary-color: dimgray;
  --secodary-color: lightblue;
  --background-image: linear-gradient(lightblue, white, pink);
}
.cl-logoImage {
  width: 5rem;
  height: 5rem;
}
.cl-header {
  color: salmon;
  font-family: raleway;
}
.cl-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: lightblue;
  color: #000;
  font-family: raleway;
  text-shadow: 0 4px 8px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255);
}
.cl-card button {
  background-color: dimgray;
  color: salmon;
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cl-internal-b3fm6y {
  background-color: lightblue;
  color: dimgray;
  font-family: raleway;
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
